<!DOCTYPE html>
<html lang="en" dir="auto">
<head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>GFR - {% block title %}{% endblock %}</title>
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style type="text/css">
    {% include "style.css" %}
	  {% for font_face in font_faces_old %}
	    {% include "CSSFontFace.partial.html" %}
	  {% endfor %}

	  {% for font_face in font_faces_new %}
	    {% include "CSSFontFace.partial.html" %}
	  {% endfor %}

	  {% for font_face in font_faces %}
	    {% include "CSSFontFace.partial.html" %}
	  {% endfor %}

	  {% for font_class in font_styles_old %}
	    {% include "CSSFontStyle.partial.html" %}
	  {% endfor %}

	  {% for font_class in font_styles_new %}
	    {% include "CSSFontStyle.partial.html" %}
	  {% endfor %}

	  {% for font_class in font_styles %}
	    {% include "CSSFontStyle.partial.html" %}
	  {% endfor %}
    </style>
</head>
<body>
    <div id="nav">
		{% if include_ui %}
			<div class="nav-item" id="font-toggle">old</div>
		{% endif %}
			<div class="nav-item" id="ot-button">OT features</div>
			<div id="ot-panel">
			</div>
		{% block nav %}{% endblock %}
	</div>
    <div id="content">
	<h2>{% block content_name %}{% endblock %}</h2>
	{% block content %}
	{% endblock %}
    </div>

	<script>
	{% include "script.js" %}
    {% block js %}
	{% endblock %}

    </script>
</body>

</html>

