<div class="cell-word" style="font-feature-settings: {% for f in diff.ot_features %} '{{ f }}' 1 {% endfor %}" lang="{{ diff.lang }}">
    <div class="tooltip">
        {{ diff.word }}<br>
        <span class="tooltiptext">
        <div class="tooltipleft">
            Before:<br>
            {{ diff.buffer_a }}
            feats={{ diff.ot_features }}
        </div>
        <div class="tooltipright">
            After:<br>
            {{ diff.buffer_b }}
            feats={{ diff.ot_features }}
        </div>
        <div>
            changed pixels: {{ diff.percent }}%
        </div>
        </span>
    </div>
</div>
